[user]
    name = Esteban Cavard
    email = cavard.esteban@gmail.com

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global

[alias]
    amend = commit --amend --no-edit

[push]
    default = simple

[fetch]
    prune = true

[color]
    ui = auto
